<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>充值中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--标准mui.css-->
    <link rel="stylesheet" th:href="@{/css/mui.min.css}" href="../static/css/mui.min.css">
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}" href="../static/css/app.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/coco.css}" href="../static/css/coco.css"/>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/cocoker/css/icons-extra.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/dialog/style/dialog.css}" href="style/dialog.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script th:src="@{/js/mui.min.js}" src="../static/js/mui.min.js"></script>
    <style>
        /*.btnsdiv2 {*/
        /*background-color:skyblue !important;*/
        /*}*/
        .btndiv2 button {
            width: 30%;
            height: 30px;
            line-height: 30px;
            margin-bottom: 5px;
            color: #fff;
            background-color: transparent;
            border: 1px solid #999;
        }

        .btnsdiv2 {
            border: 1px solid #fab702;
            color: #fab702 !important;
            background-color: transparent !important;
        }

        a {
            text-decoration: none
        }

        .black {
            background-color: #000;
        }

        .btn {
            padding: 0 12px !important;
        }

        .userpic {
            margin-top: 0;
        }

        .xzcz {
            color: #fff;
            margin-top: 10%;
        }

        .tz {
            height: 180px;
            padding: 5px;
            margin-top: 10px;
            border-radius: 5%;
            background-color: rgba(255, 255, 255, .1);
            color: #999;
            margin-top: 20%;
        }
    </style>
<body class="black">
<div class="mui-content black">
    <div class="container">
        <div class="row clearfix" style="padding: 10px;">
            <img style="float: left" class="userpic">
            <div style="width: 70%;float: left;font-size: 12px;color: #fff">
                账号：<span class="nickname"></span><br/>
                金额：<span class="money"></span>
            </div>
        </div>
        <h6 class="xzcz">选择充值金额</h6>
        <div class="mui-content-padded btndiv2" style="text-align: center;">

            <button type="button" class="btn btn-default" value="10"><span></span>10</button>
            <button type="button" class="btn btn-default btnsdiv2 my" check="check" value="20"><span aria-hidden="true"
                                                                                                     style="font-size: 10px;"></span>20
            </button>
            <button type="button" class="btn btn-default" value="30"><span aria-hidden="true"
                                                                           style="font-size: 10px;"></span>30
            </button>
            <button type="button" class="btn btn-default" value="50"><span aria-hidden="true"
                                                                           style="font-size: 10px;"></span>50
            </button>
            <button type="button" class="btn btn-default" value="100"><span aria-hidden="true"
                                                                            style="font-size: 10px;"></span>100
            </button>
            <button type="button" class="btn btn-default" value="200"><span aria-hidden="true"
                                                                            style="font-size: 10px;"></span>200
            </button>
            <button type="button" class="btn btn-default" value="300"><span aria-hidden="true"
                                                                            style="font-size: 10px;"></span>300
            </button>
            <button type="button" class="btn btn-default" value="500"><span aria-hidden="true"
                                                                            style="font-size: 10px;"></span>500
            </button>
            <button type="button" class="btn btn-default" value="1000"><span aria-hidden="true"
                                                                             style="font-size: 10px;"></span>1000
            </button>
        </div>
        <!--<p style="text-align: center">当前汇率: <span class="c1"></span></p>
        <p style="text-align: center">需支付: <span class="c2">67.9</span></p>-->
        <div style="text-align: center">
            <!--<button type="button" style="width: 80%;height:30px;color: #fff;background-color: red; border: none;" class="btn btn-info transaction">立即支付</button>-->
            <img class=" transaction" style="height: 40%;width: 80%; margin: 5% 0px;" th:src="@{/images/ligh.png}"
                 src="" alt=""></div>
    </div>
    <div id="main" style="display: none"></div>

    <!--<div class="tz">-->
    <!--<h5 style="text-align: center">充值须知</h5>-->
    <!--<h6>1.本平台采用自带的充值功能进行入金，若您在充值过程中出现充值未到账等情况，请退出平台重新进入即可看见余额，这个是您缓存的问题。一般充值秒到账。-->
    <!--<br>2.如果您充值的时候遇见了限额，请稍后确认-->
    <!--<br>3.如果您充值的时候遇见了商户系统错误，请点击确定，然后多尝试按几次【确定支付】即可完成支付-->
    <!--<br>4.发现骗单，一律封停！-->
    <!--</h6>-->
    <!--</div>-->
    <div style="text-align: center">
        <img style="height: 40%;width: 80%; margin: 5% 0px;" th:src="@{/images/hgxz2.png}" src="" alt=""></div>
    <br>
</div>
</div>
<div id="app"></div>
<form id="transactionForm" method="post">
    <input type="hidden" id="openid" name="openid">
    <input type="hidden" id="money" name="money">
</form>
<!--音乐-->
<audio id="notice" loop="loop">
    <source src="/cocoker/mp3/song.mp3" type="audio/mpeg">
</audio>
</body>
<script th:src="@{/webjars/jquery/3.1.1/jquery.js}" src="../static/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/jquery.qrcode.min.js}"></script>
<script th:src="@{/js/mui.min.js}" src="../static/js/mui.min.js"></script>
<script th:src="@{/js/myvue.js}"></script>
<script th:src="@{/js/other.js}"></script>
<script th:src="@{/dialog/javascript/zepto.min.js}" src="javascript/zepto.min.js"></script>
<script th:src="@{dialog/javascript/dialog.min.js}" type="text/javascript" src="javascript/dialog.min.js"></script>
<script>

    document.getElementById('notice').play();

    mui.init({
        swipeBack: true //启用右滑关闭功能
    });
    setInterval(function () {
        var num = '7' + random(10, 50);
        $('.c1').text(6.79 + num);
    }, 1000);

    $.ajax({
        url: "/cocoker/user/get",
        data: {"openid": getCookie('openid')},
        success: function (result) {
            if (result.code == 0) {
                var user = result.data;
                $('.userpic').attr("src", user.upic);
                $('.nickname').text(user.nickname)
                $('.money').text(user.usermoney)
                //location.href = "/cocoker/coc";
            }
        },
        error: function (result) {
        }
    });
    //效果
    $('.btndiv2 button').click(function () {
        $('.btndiv2 button').removeAttr("check").removeClass('btnsdiv2');
        $(this).attr("check", "check").addClass('btnsdiv2');
        $(".btndiv2 button").removeClass("my");
        $(this).addClass("my");
        $(".c2").text(this.innerText.substring(2) * 6.79);
    });

    function random(lower, upper) {
        return Math.floor(Math.random() * (upper - lower)) + lower;
    }

    //提交
    $('.transaction').click(function () {
        if ($('.btndiv2 button[check=check]').length < 1) {
            popup({type: 'tip', msg: "请选择数量", delay: 1500});
            return
        }

        //设置值
        $("#openid").val(getCookie('openid'));
        $("#money").val($('.my').attr("value"));
        //发起请求
        $("#transactionForm").attr("action", "/cocoker/transaction/recharge").submit();
        //改变颜色
        $('.btndiv2 button').removeAttr("check").removeClass('btnsdiv2');
//        $.ajax({
//            url: "/cocoker/transaction/recharge",
//            data: {"openid": getCookie('openid'),"money":$('.btndiv2 button[check=check]')[0].innerText.substring(3)},
//            type: "POST",
//            success: function (result) {
//                console.log(result);
//            }
//        })

    });
</script>
</html>